body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 16px;
}

table {
  margin: 10px auto;
}

td, th {
  padding: 5px;
  /* border: 1px solid black; */
  margin: 0;
  font-size: 1.2em;
  min-width: 20px;
}

.logo {
  width: 100%;
  margin: 0px auto;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  width: 100%;
  color: white;
  background: black;
  margin-top: -10px;
}

.header {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container div:first-of-type {
  padding: 10px;
  background: white;
}

